/bin
/build
/dist
/scripts/scriptmenu/archives
*.sublime-project
*.sublime-workspace
*.classpath
*.project
/.idea/*
./bin/
*.iml
out/*
/bin1/
.settings/
.metadata/*
.checkstyle
*.dylib
*.dll
.gradle*
gradle/*
*.ipr
*.iws
gradlew
gradlew.bat
