/bin
/build/*
/dist
.gradle
/scripts/scriptmenu/archives
*.sublime-project
*.sublime-workspace
*.classpath
*.project
/.idea/*
!/.idea/inspectionProfiles
./bin/
*.iml
out/*
/bin1/
.settings/
.metadata/*
.checkstyle
*.dylib
*.dll
*.ipr
*.iws
.DS_Store
*.so

.cache
