body{
}
#simbraintitle {
	background-image: url(Pics/SimbrainTitle.gif);
	width: 234px;
	height: 44px;
	border: 0px;
}
.breadcrumb{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.title {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
}
.subtitle{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
   font-size: 20px;
	padding-left: 0px;
}
.heading{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
   font-size: 18px;
	padding-left: 0px;
}
.heading2{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    font-size: 14px;
	padding-left:0px;
}
.command {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	padding-right: 0px;
}
.text{
	text-indent: 0px;
	padding-left: 0px;
}
