body 
{ 
	color: #666; 
	font-size: 13px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	line-height: 20px; 
	background-image: url("images/bg/bgradient.gif"); 
	background-repeat: repeat-x; 
	margin: 10px 20px 0; 
	left: 14px; 
}

div.logo
{ 
	background-image: url("images/simbrainlogo.gif"); 
	background-repeat: no-repeat; 
	margin: 0 0 0; 
	position: absolute; 
	top: 60px; 
	left: 85px; 
	width: 212px; 
	height: 72px; 
	float: none;
}

#content
{ 
	background-color: #ffffff; 
	text-align: left; 
	margin: 0 auto; 
	padding: 15px; 
	width: 500px; 
	border: dashed 1px #666; 
}

div.navi
{ 
	text-align: right; 
	margin-bottom: 170px; 
	padding: 12px; 
}
	
div.section
{ 
	margin: 10px 5px 30px; 
	padding: 12px; 
}
	
.floatright 
{
	float: right;
	margin: 0px 5px 10px 10px;
}

#main_docs
{ 
	color: #666; 
	font-family: Arial, Helvetica, sans-serif, Verdana; 
	background: #fff; 
	margin: 10px 10px 40px; 
	padding: 20px 20px 38px; 
	min-width: 700px; 
	border: solid 1px #628596; 
}
	
div.intial
{ 
	background: #f2f2e4; 
	margin: 40px 20px 60px; 
	padding: 12px; 
	width: auto; 
	height: auto; 
	float: right; 
	border: solid 1px #628596; 
}

.floatright 
{
	border: 1px;
	border-color: #000000;
	text-transform: capitalize;
	float: right;
	clear: right;
}

h1   
{ 
	color: #666; 
	font-size: 16px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bolder; 
	font-stretch: extra-condensed; 
	text-transform: uppercase; 
	margin-top: 12px; 
	margin-bottom: 10px; 
	padding-top: 0; 
	padding-bottom: 0 
}


.title
{ 
	color: #666; 
	font-size: 20px; 
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold; 
}

.subtitle
{ 
	color: #628596; 
	font-size: 18px; 
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	padding-left: 0; 
}

.heading
{ 
	font-size: 14px; 
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bolder; 
	margin-top: 22px; 
	margin-bottom: 2px; 
	vertical-align: sub; 
}

.heading2
{ 
	color: #628596; 
	font-size: 12px; 
	font-family: Arial, Helvetica, sans-serif; 
	font-weight: bolder; 
	margin-top: 0; 
	margin-bottom: 0; 
	padding-top: 12px; 
	padding-bottom: 0; 
	padding-left: 0; 
	vertical-align: 0;
}

.command
{ 
	color: #666; 
	font: italic 12px Arial, Helvetica, sans-serif; 
	text-transform: none; 
	padding-right: 0; 
}

.text
{ 
	color: #666; 
	font-size: 13px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	line-height: 18px; 
	text-indent: 0; 
	margin: 12px; 
	padding-left: 0; 
}

/* Looks like you have to specify the width of #menu
or IE5 Mac stretches it all the way across the div, and 
Opera streches it half way. */

#menu
{ 
	color: #666; 
	font-size: 10px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	line-height: 14px; 
	background: #f2f2e4; 
	margin: 0 10px 10px; 
	padding: 3px; 
	width: 230px; 
	float: right; 
	border: solid 1px #628596; 
}

		
p,h1,pre
{
	margin:0px 10px 10px 10px;
}
		
P.bold
{
	font-weight:bolder;
}
	
#menu p
{
	font-size:12px;
	margin-top: 5px;
}
	
#menu p.menubold
{ 
	font-size: 14px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bolder;
}

a:link
{ 
	color: #679; 
	text-decoration: underline;
}

#menu a:link
{
 	color: #628596; 
	text-decoration: none;
}

#menu a:visited
{
 	color: #628596; 
	text-decoration: none;
}

a:visited
{ 
 	color: #628596; 
	text-decoration: underline;
}

a:hover
{ 
	color: #ffd; 
	text-decoration: none; 
	background-color: #f93;
}

